*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background-color: #F9F9F9;
  font-family: 'Roboto', sans-serif;
}


.dark-mode{
    background-color: #242a35;
    color: white;
    .project-info{
      color: white;
    }
    .project-text-title{
      color: white;
    }
    .name-info1{
      color: white;
    }
    .name-info2{
      color: white;
    }
    .name-info3{
      color: white;
    }
    .work-find i{
      color: white;
    }
    .menu{
      background-color: #2e3542;
    }
    .footer-bar > .footer-container > a{
      color: white;
    }
}

a{
  text-decoration: none;
  color:white
}
/*MENU ITEMS */

.logo{
  font-size: 18px;
  border-radius: 6px;
  color: black;
  background-color: #FCE803;
  padding: 7px;
  text-decoration: none;
  font-weight: 700;
}

.menu{
  position: fixed;
  width: 100%;
  padding: 20px 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: #ffff;
  margin-top: -10vh;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.menu-item{
  background-color: #FCE803;
  padding: 7px;
  border-radius: 6px;
  margin-left: 400px;
}

.menu-stream{
  background-color: #FCE803;
  padding: 7px;
  border-radius: 6px;
  
}

.menu-stream a{
  position: relative;
  font-size: 20px;
  color: black;
  font-weight: 500;
  padding: 10px;
  text-decoration: none;
}

.menu-dark{
  background-color: #FCE803;
  padding: 7px;
  border-radius: 6px;
}

.menu-dark a{
  position: relative;
  font-size: 20px;
  color: black;
  font-weight: 500;
  padding: 10px;
  text-decoration: none;
}

.menu-item a{
  position: relative;
  font-size: 18px;
  color: black;
  font-weight: 500;
  padding: 10px;
  text-decoration: none;
  transition: 1s;
}

.menu-item a::before{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: -5px;
  width: 0;
  height: 2px;
  background-color: #101720;
  transition: .5s;
}

.menu-item a:hover::before{
  width: 100%;
}

.hello{
  color: #0066FF;
}

/*Short Info Text */

.short-info-but{
  position: relative;
  padding: 100px 400px;
  margin-top: 10vh;
}

.head_img{
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  margin-right: 400px;
  margin-top: 2vh;
  height: 430px;
}

.name-info1{
  position: absolute;
  font-size: 35px;
  color: #101720;
}

.name-info2{
  position: absolute;
  font-size: 90px;
  color: #101720;
  text-indent: 0px;
  line-height: 1.3;
}

.name-info3{
  position: absolute;
  font-size: 90px;
  color: #101720;
  text-indent: 0px;
  line-height: 1.3;
  padding-top: 5px;
}

/*Button Short Info*/

.button{
  position: relative;
  padding: 120px 0px;
  margin-left: -5vh;
}

.download-button {
  position: relative;
  border-width: 0;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border-radius: 4px;
  margin-left: 60px;
  z-index: 1;
 }
 
 .download-button .docs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  min-height: 40px;
  padding: 0 15px;
  border-radius: 4px;
  z-index: 1;
  background-color: #242a35;
  border: solid 1px #e8e8e82d;
  transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
 }
 
 
 .download {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
  z-index: -1;
  border-radius: 4px;
  transform: translateY(0%);
  background-color: #FCE803;
  border: solid 1px #01e0572d;
  transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
 }
 
 .download-button:hover .download {
  transform: translateY(100%)
 }
 
 .download svg polyline,.download svg line {
  animation: docs 1s infinite;
 }
 
 @keyframes docs {
  0% {
   transform: translateY(0%);
  }
 
  50% {
   transform: translateY(-15%);
  }
 
  100% {
   transform: translateY(0%);
  }
 }

.spliter {
  width: 1073px;
  height: 1px;
  justify-content: center;
  position: absolute;
  margin-left: 400px;
}

.spliter .divider {
  position: relative;
  width: 1076px;
  height: 4px;
  background-color: #101720;
  border: 1px solid;
  opacity: 0.2;
  display: flex;
  justify-content: center;
  position: relative;
}

/*Work Finder */

.work-info{
  position: relative;
  display: inline-block;
  display: flex;
  margin-top: -17vh;
  list-style: none;
  margin-left: 12vh;
}

.work-find{
  font-size: 24px;
}

.work-info> .work-find> a{
  color: #101720;
  padding: 6px;
  transition: .5=8s;
}
.work-info> .work-find> a:hover{
  color: #FCE803;
  transition: .5s;
}

/*Information Boxis*/

.information-about-me{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 19vh;
  background-size: 100vh;
}

.information-about-me > .code-skill{
  color: black;
  background-color: #FCE803;
  border-radius: 6px;
  padding: 7px;
  margin-top: -15vh;
  margin-bottom: 50px;
  box-shadow: 0px 0px 17px 3px rgba(252,232,3,0.59);
}


/*Information Boxies */

.information-container{
  position: relative;
  padding: 50px;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 0.18fr);
  grid-template-rows: repeat(2, fr);
  height: 75vh;
}

.information-plan{
  flex: 1;
  padding: 20px;
  background-color: #FCE803;
  border-radius: 20px;
  max-width: 300px;
  text-align: center;
  transition: .5s;
}

.information-plan2{
  flex: 1;
  padding: 20px;
  background-color: #0066FF;
  border-radius: 20px;
  max-width: 300px;
  text-align: center;
  transition: .5s;
}

.information-plan:hover{
  box-shadow: 0px 0px 20px #FCE803;
  transform: translateY(-32px);
}

.information-plan2:hover{
  box-shadow: 0px 0px 20px #0066FF;
  transform: translateY(-32px);
}

.plan-title{
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.plan-info .logo-skills{
  max-width: 200px;
}

.plan-features{
  color: white;
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan-features > li{
  margin-bottom: 20px;
}

.plan-button{
  padding: 10px;
  background-color: #1DA1F3;;
  color: #f2f2f2;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

/*Portofolio Section */

.section-title{
  color: black;
  width: 50%;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  margin-bottom: 72px;
  box-sizing: border-box;
}

.section-title h2{
  width: 200px;
  padding: 7px;
  border-radius: 6px;
  font-size: 26px;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  background-color: #FCE803;
  color: black;
  background-size: 10%;
  box-shadow: 0px 0px 17px 3px rgba(252,232,3,0.59);
}

.lead{
  color: #948daa;
  font-size: 1.25rem;
  font-weight: 200;
  margin-top: 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.portofolio-section{
  position: relative;
  margin-top: 130px;
}

/*About me*/
.about-me-title{
  margin-top: 50px;
  width: 50%;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  margin-bottom: 72px;
  box-sizing: border-box;
}

.about-me-title h2{
  width: 200px;
  padding: 7px;
  border-radius: 6px;
  font-size: 26px;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  background-color: #FCE803;
  color: black;
  background-size: 10%;
  box-shadow: 0px 0px 17px 3px rgba(252,232,3,0.59);
}

.about-what-i-do{
  background-size: 100px;
  margin-right: 500px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #101720;
  border-radius: 6px;
  font-size: 1.25rem;
  margin-top: 20px;
  transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
}

.about-what-i-do:hover{
  transform: scale(1.1);
}

.about-who-i-am:hover{
  transform: scale(1.1);
}

.about-who-i-am{
  background-size: 100px;
  margin-left: 500px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #101720;
  border-radius: 6px;
  font-size: 1.25rem;
  margin-top: 20px;
  transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
}

.yellow-color{
  color: #FCE803;
}

.what{
  margin-right: 300px;
}

.stack{
  margin-left: 45px;
}

.currently{
  margin-right: 40px;
}

.bracket{
  margin-right: 400px;
}

.who-i-about-me{
  margin-right: 300px;
}

.age-about{
  margin-right: 135px;
}

.nationality-about{
  margin-right: 22px;
}


/* keyframe*/

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

/*Website container */

.website-container{
  position: relative;
  padding: 20px 400px;
}

.project-text-title{
  color: #101720;
}

.project-info{
  width: 500px;
  color: #101720;
}

.website-template{
  position: relative;
  display: flex;
  float: right;
  bottom: 18vh;
}

.hospital_image{
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  margin-right: -50px;
  max-width: auto;
  height: 220px;
  border-radius: 10px;
  cursor: pointer;
  transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
}

.personal_image{
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  margin-right: 38vh;
  margin-top: 30vh;
  max-width: auto;
  height: 220px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
}

.login_image{
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  margin-right: 38vh;
  margin-top: 67vh;
  max-width: auto;
  height: 220px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
}


.hospital_image:hover{
  box-shadow: 3px 8px 0px 0px #0066FF;
}

.personal_image:hover{
  box-shadow: 3px 8px 0px 0px #0066FF;  
}

.login_image:hover{
  box-shadow: 3px 8px 0px 0px #0066FF;
}

/*Live and Source Code button*/

.live_view {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, #1DA1F3, #4a00e0);
  color: ghostwhite;
  overflow: hidden;
}

.live_view svg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}

.live_view span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 1.05em;
}

.live_view::before,
.live_view::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.live_view::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.live_view:hover::before {
  transform: translate3d(100%, 0, 0);
}

.live_view:active {
  transform: scale(0.95);
}



.button_git{
  position: relative;
  gap: 100px;
  margin-bottom: 15vh;
}

.source_code {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, #1DA1F3, #4a00e0);
  color: ghostwhite;
  overflow: hidden;
}

.source_code svg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}

.source_code span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 1.05em;
}

.source_code::before,
.source_code::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.source_code::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.source_code:hover::before {
  transform: translate3d(100%, 0, 0);
}

.source_code:active {
  transform: scale(0.95);
}


/*Footer Bar*/

.footer-bar{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-bar > .footer-container > a{
  color: #101720;
  font-size: 20px;
  text-indent: 12px;
  transition: 0.3s;
}

.footer-bar > .footer-container > a:hover{
  color: #FCE803;
}

/*Header Page*/

.header-text{
  color: #177ab8;
  width: 50%;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  margin-bottom: 72px;
  box-sizing: border-box;
}

/*Phone Sizing*/
@media only screen and (max-width: 600px) {
  /* Update padding and font sizes for responsiveness */

  .divider{
    display: none;
  }

  .spliter{
    display: none;
  }

  .menu {
    padding: 10px 10px;
    justify-content: space-between;
    display: flex;
    position: relative;
  }

  .menu-item {
    margin-left: 10px;
    font-size: 10px;
  }

  .head_img{
    position: absolute;
    display: flex;
    margin-right: 50px;
    height: 190px;
    margin-top: 85px;
  }

  .short-info-but {
    padding: 100px 100px;
    text-align: center;
  }

  .name-info1 {
    font-size: 24px;
    display: flex;
  }

  .name-info2,
  .name-info3 {
    font-size: 48px;
    display: flex;
  }

  .name-info3{
    margin-top: -35px;
  }

  .name-catalin{
    margin-top: -30px;
    display: flex;
  }

  .button{
    position: absolute;
    padding: 30px 0px;
    margin-left: 1px;
  }

  .download-button {
    position: relative;
    border-width: 0;
    color: white;
    font-size: 15px;
    font-weight: 100;
    border-radius: 4px;
    margin-left: 10px;
    z-index: 1;
   }

  .work-info {
    margin-top: 30px;
    display: flex;
    margin-left: 12vh;
    text-align: center;
  }

  .work-find {
    font-size: 18px;
    margin-top: 10px;
    
  }

  .work-info a {
    padding: 4px;
  }

  .information-about-me {
    padding: 10px 20px;
    margin-top: 60px;
  }

  .information-container {
    display: grid;
    gap: 10px 10px;
    flex-direction: column;
    grid-template-columns: repeat(3, 0.08fr);
    grid-template-rows: repeat(2, fr);
    height: 40vh;
    padding: 0px;
  }

  .information-plan {
    max-width: none;
    width: 100%;
    margin-bottom: 20px;
  }

  .plan-title {
    font-size: 15px;
    margin-bottom: 5px;
  }

  .plan-info {
    font-size: 10px;
  }

  .plan-info .logo-skills{
    max-width: 100px;
  }

  .section-title {
    width: 100%;
    margin-bottom: 40px;
  }

  .lead {
    font-size: 18px;
  }

  .website-container {
    padding: 20px;
  }

  .project-info {
    width: 100%;
    text-align: center;
  }

  .website-template {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .footer-bar {
    position: relative;
    bottom: 0;
    padding: 10px 0;
  }

  .footer-bar .footer-container a {
    font-size: 18px;
    text-indent: 0;
  }

  .about-me-title{
  margin-top: 10vh;
  width: 50%;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  margin-bottom: 72px;
  box-sizing: border-box;
}

.about-me-title h2{
  width: 200px;
  padding: 7px;
  border-radius: 6px;
  font-size: 26px;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  background-color: #FCE803;
  color: black;
  background-size: 10%;
  box-shadow: 0px 0px 17px 3px rgba(252,232,3,0.59);
}

.about-what-i-do{
  background-size: 100px;
  margin-right: -100px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #101720;
  border-radius: 6px;
  font-size: 1.25rem;
  margin-top: 20px;
}

.about-who-i-am{
  background-size: 100px;
  margin-left: -100px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #101720;
  border-radius: 6px;
  font-size: 1.25rem;
  margin-top: 20px;
}

.yellow-color{
  color: #FCE803;
}

.what{
  margin-right: 300px;
}

.stack{
  margin-left: 45px;
}

.currently{
  margin-right: 40px;
}

.bracket{
  margin-right: 400px;
}

.who-i-about-me{
  margin-right: 300px;
}

.age-about{
  margin-right: 135px;
}

.nationality-about{
  margin-right: 22px;
}
}
